html, body{
  overflow: hidden;
}
.commonStyle{
  padding:10px; text-align:center; margin:10px;;
}
.styleA{border:3px dotted gray;}
.styleB{border:3px dotted rgba(0,200,0,0.7);}
.button{border:1px solid green; padding:3px; border-radius:5px; background-color:white;cursor: pointer;}
.button p {color:green; margin-top:10px; margin-left:10px; margin-right: 10px;}
* {
  margin: 0;
  padding: 0;
}
body, html, .section, .content{
  height: 100vh;
  margin: 0;
  padding: 0;
}
.versioning_items {
  display: flex;
  height: 100vh;
  .versioning_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #cc9;
    .versioning_item_top {
      display: flex;
      height: 50px;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .versioning_item_form {
      height: 300px;
    }
    .versioning_item_txt {
      background: #fff;
      flex: 1;
      overflow-y: scroll;
      p {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.4;
      }
    }
  }
}