html, body{
  overflow: hidden;
}
.commonStyle{
  padding:30px; text-align:center; margin:30px; width:400px;
}
.styleA{border:3px dotted gray;}
.styleB{border:3px dotted rgba(0,200,0,0.7);}
.button{border:1px solid green; padding:3px; border-radius:5px; background-color:white;cursor: pointer;}
.button p {color:green; margin-top:10px; margin-left:10px; margin-right: 10px;}

#channels{
  width: 20%;
  max-width: 200px;
  float: left;
}
#files{
  width: 40%;
  float: left;
}
#versions{
  width: 40%;
  float: left;
}
.sub-header{
  height: 20%;
}
.files-content{
  overflow-y: scroll;
  //height: 100vh;
  min-height: 60%;
}
.files-form{
  height: 20%;
}
.main{
  border-collapse:  collapse; /* セルの線を重ねる */
  width:  100%;               /* 幅指定 */
}

.main th,td {
  border: solid 1px;          /* 枠線指定 */
  padding: 10px;
}



.main th {
  width:  100px;              /* 幅指定 */
  font-weight:  normal;       /* 文字の太さ指定 */
}

.main td {
  font-weight:  bold;         /* 文字の太さ指定 */
}